/* Références couleurs
header: #28465F
footer: #000000
Titres: #ffffff
titres footer: #d3d3d3
logo facebook: #3A5B9B
logo instagram:#8F38A0
logo twitter:#1DA1F3
hover: #D97904
*/

body {
  background: url('/pics/background.jpg');
  background-size: cover;
}
/* Typo */
h1,
h2,
p {
  color: #ffffff;
}

/* HEADER */
header {
  background: #28465F;
  border-bottom: 2px solid #ffffff;
}

header li a:hover {
  background: #D97904;
  color: #ffffff;
}

/* MAIN */
.rounded-circle {
  width: 25em;
  height: 30em;
}

/* FOOTER */
footer {
  background: #000000;
  border-top: 2px solid #ffffff;
  height: 30vh;
  opacity: 0.9;
}

/* couleur des rubriques */
.grey {
  color: #d3d3d3;
  font-size: 16px;
}

/* puces de liste */
ul > li {
  list-style: none;
}

/* liens "plan du site" et "nous joindre" */  
.text-white:hover {
  background: #D97904;
}

/* liens réseaux sociaux */
.pointer {
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
} 

.fa-facebook-square:hover {
  color: #3A5B9B;
}
 
.fa-instagram-square:hover {
  color: #8F38A0;
} 
 
.fa-twitter-square:hover {
  color: #1DA1F3;
}   

/* images partenaires */
.dimension {
  width: 3em;
  height: 3em;
}

/* copyright */
.far {
  font-size: 13px;  
} 