/* Références couleurs
header: #28465F
footer: #000000
Titres: #ffffff
titres footer: #d3d3d3
logo facebook: #3A5B9B
logo instagram:#8F38A0
logo twitter:#1DA1F3
hover: #D97904
*/

body {
  height: 100%;
  background: url('/pics/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Typo */
h1,
h2,
p {
  color: #ffffff;
}

/* HEADER */
header {
  background: #28465F;
  border-bottom: 2px solid #ffffff;
}

nav li a:hover {
  background: #d97904;
  color: #ffffff;
}

.bouton-modal:hover {
  background: #d97904;
}

.bouton-modal:hover {
  color: #ffffff;
}

.navbar-toggler {
  border: 2px solid #ffffff;
}

.navbar .fa {
  color: #ffffff;
}

/* MAIN */
.rounded-circle {
  width: 25em;
  height: 30em;
}

p {
  font-size: 18px;
}

/* FOOTER */
footer {
  background: #000000;
  border-top: 2px solid #ffffff;
  opacity: 0.9;
}

.title {
  color: #d3d3d3;
}

/* couleur des rubriques */
.grey {
  color: #d3d3d3;
  font-size: 15px;
}

/* liens "plan du site" et "nous joindre" */  
.text-white:hover {
  background: #D97904;
}

/* liens réseaux sociaux */
.pointer {
  cursor: pointer;
  font-size: 22px;
  color: #ffffff;
}

.fa-facebook-square:hover {
  color: #3A5B9B;
}

.fa-instagram-square:hover {
  color: #8F38A0;
}

.fa-twitter-square:hover {
  color: #1DA1F3;
}

/* images partenaires */
.dimension {
  width: 3em;
  height: 3em;
}

/* copyright */
.far {
  color: #d3d3d3;
  font-size: 13px;  
}

/* media queries pour les images */
@media screen and (max-width: 1214px) {
  .remove2 {
    display: none;
  } 
} 

@media screen and (max-width: 768px) {
  .remove1,
  .remove2 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .center {
    width: 100%;
  }
}


/* media query pour la lisibilité du texte */
@media screen and (max-width: 720px) {
  p {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }   
}