/* Références couleurs
logo facebook: #3A5B9B
logo instagram:#8F38A0
logo twitter:#1DA1F3
Titres: #ffffff
*/

body {
  background: url('/pics/background.jpg');
  background-size: cover;
}
/* TYPO */

h1,
h2,
h3,
h4 {
  color: #ffffff;
}


/* HEADER */
header {
  background: #28465F;
  border-bottom: 2px solid #ffffff;
}

header li a:hover {
  background: #D97904;
  color: #ffffff;
}

/* MAIN */

#carouselExampleCaptions {
  width: 50%;
  margin: 0 auto;
}

.carousel-item img {
  width: 50vw;
  height: 60vh;
}

/* FOOTER */
footer {
  background: #000000;
  border-top: 2px solid #ffffff;
  height: 30vh;
  opacity: 0.9;
}

/* couleur des rubriques */
.grey {
  color: #d3d3d3;
  font-size: 16px;
}

/* puces de liste */
ul > li {
  list-style: none;
}

/* liens "plan du site" "nous joindre" fond du tableau au survol */  
.text-white:hover {
  background: #D97904;
}

/* liens réseaux sociaux */
.pointer {
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
} 

.fa-facebook-square:hover {
  color: #3A5B9B;
}
 
.fa-instagram-square:hover {
  color: #8F38A0;
} 
 
.fa-twitter-square:hover {
  color: #1DA1F3;
}   

/* images partenaires */
.dimension {
  width: 3em;
  height: 3em;
}

/* copyright */
.far {
  font-size: 13px;  
} 